In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from nltk.tokenize import TweetTokenizer
import datetime
import lightgbm as lgb
from scipy import stats
from scipy.sparse import hstack, csr_matrix
from sklearn.model_selection import train_test_split, cross_val_score
from wordcloud import WordCloud
from collections import Counter
from nltk.corpus import stopwords
from nltk.util import ngrams
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from keras.preprocessing import sequence
from sklearn.svm import LinearSVC
from sklearn.multiclass import OneVsRestClassifier
pd.set_option('max_colwidth',400)
import os

# Any results you write to the current directory are saved as output.

Using TensorFlow backend.

In [3]:
train_dataset = pd.read_csv("train_E6oV3lV.csv")

In [4]:
train_dataset.head()

,id,label,tweet
0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0,bihday your majesty
3,4,0,#model i love u take with u all the time in urð±!!! ðððð ð¦ð¦ð¦
4,5,0,factsguide: society now #motivation

In [5]:
from bs4 import BeautifulSoup
import re
#cleaning text 
#removing html text
#converting to lower case 
#and also removing punctuations
def review_to_words(train):
    ids=[]
    label=[]
    tweet=[]
    for index , row in train.iterrows():
        review_text = BeautifulSoup(row.tweet).get_text()
        letters_only = re.sub("[^a-zA-Z]"," ",review_text)
        words = letters_only.lower().split()
        tweet.append(" ".join(words))
        ids.append(row.id)
        label.append(row.label)
    return ids,label,tweet

In [6]:
ids, label, tweet = review_to_words(train_dataset)

In [7]:
print(tweet[2])

bihday your majesty

In [9]:
train_dataset.label.unique()

array([0, 1])

In [15]:
len(max(tweet,key=len))

136

In [14]:
len(tweet[0])

96

In [20]:
## Implementing bag of words